.container form{
  background-color: white;
  margin-left: 50%;
  transform: translatex(-50%);
  width: 340px;
  margin-top: 13px;
  padding: 8px;
  border: 1px solid rgb(200,200,200);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
html, body{
  background-color: rgb(245, 245, 245);
}

form input{
  outline: 0;
  width: 100%;
  border: 0;
  border-bottom: 3px solid rgb(200,200,200);
  transition-duration: 0.4s;
}
form input:focus{
  border-bottom: 3px solid rgb(10,40,240);
}
.jumbotron{
  border-radius: 0;
  margin-top: -18px;
  background-color: rgb(200,200,200);
}
nav{
  box-shadow: 0 5px 5px rgb(0,0,0,0.2);
  font-weight: 800;
  top: 0;
  left: 0;
  position: fixed;
}
.nav-placeholder{
  margin: 70px;
}
.navbar{
  background-color: rgb(40,40,40);
}
.container{
  margin-top: 13px;
}
.user-profile-col{
  overflow-wrap: break-word;

}
.user-profile-col{
  overflow-wrap: break-word;

}
.user-profile-col .inner{
  position: fixed;
}
.discover-col .inner{
  position: fixed;
}

@media only screen and (max-width: 1000px) {
  .user-profile-col .inner{
    position: relative;
  }
  .discover-col .inner{
    position: relative;
  }
}

.discover-col .group-thumbnail{
  height: 100px;
  width: 330px;
  background-color: white;
  border: 1px solid rgb(200,200,200);
  overflow-wrap: break-word;
  border-radius: 4px;
}
.user-profile-col p span{
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgb(10,40,240);
  color: white;
  border-radius: 4px;

}
.posts-col{
  overflow-wrap: break-word;
}
h1{
  font-size: 1.6rem;
}
.post p {margin-bottom: 0;}
.post{
  padding: 24px;
  margin-bottom: 24px;
  font-weight: 500;
  background-color: white;
  border: 1px solid rgb(200,200,200);
  font-size: 1.2rem;
  border-radius: 4px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.post:hover{
  box-shadow: 0 0 8px rgb(0,0,0,0.7);
}
.post .origin{
  font-size: 0.8rem;
  color: rgb(160,160,160);
  font-weight: 900;
}
.post .comments{
  border-left: 3px solid rgb(200,200,200);
  margin-top: 13px;
}
.post .comments .single{
  margin-left: 16px;
}
.post a{
  color: green;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  padding: 20px;
  width: 100%;
}
.search input{
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid white;
  transition-duration: 2s;
  border-radius: 0;
  color: white;
}
.search input:focus{
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid white;

}
.new-post{
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid rgb(200,200,200);
  font-size: 1rem;
  border-radius: 4px;
  margin: 30px;
}
.new-post input{
  height: auto;
  padding: 0;
  margin: 0;
}